In [1]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [2]:
df = pd.read_csv("dataset/mldata.csv")
df.head()

   Age   Height  Weight  Gender Likeness
0   27  170.225    76.0    Male  Biryani
1   45  165.543    70.0    Male  Biryani
2   21  171.000    59.0    Male  Biryani
3   25  165.000    49.5    Male  Biryani
4   53  170.000   102.0  Female  Biryani

In [3]:
df["Gender"] = df['Gender'].replace("Male", 1)
df["Gender"] = df['Gender'].replace("Female", 0)

In [4]:
df.head()

   Age   Height  Weight  Gender Likeness
0   27  170.225    76.0       1  Biryani
1   45  165.543    70.0       1  Biryani
2   21  171.000    59.0       1  Biryani
3   25  165.000    49.5       1  Biryani
4   53  170.000   102.0       0  Biryani

In [5]:
x = df[['Weight', 'Gender']]
y = df['Likeness']

In [6]:
#Creating Model and fit
model = DecisionTreeClassifier().fit(x,y)

In [12]:
#prediction
model.predict([[70, 1]])

array(['Biryani'], dtype=object)