In [1]:
import numpy as np
import pandas as pd
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib

In [2]:
df = pd.read_csv("dataset/mldata.csv")
df.head()

   Age   Height  Weight  Gender Likeness
0   27  170.225    76.0    Male  Biryani
1   45  165.543    70.0    Male  Biryani
2   21  171.000    59.0    Male  Biryani
3   25  165.000    49.5    Male  Biryani
4   53  170.000   102.0  Female  Biryani

In [3]:
df["Gender"] = df["Gender"].replace("Male", 1)
df["Gender"] = df["Gender"].replace("Female", 0)
df.head()

   Age   Height  Weight  Gender Likeness
0   27  170.225    76.0       1  Biryani
1   45  165.543    70.0       1  Biryani
2   21  171.000    59.0       1  Biryani
3   25  165.000    49.5       1  Biryani
4   53  170.000   102.0       0  Biryani

In [4]:
X = df[["Weight", "Gender"]]
y = df["Likeness"]

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [6]:
model = DecisionTreeClassifier()

In [7]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [8]:
predicted_values = model.predict(X_test)

In [9]:
predicted_values

array(['Biryani', 'Tikka', 'Karahi', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani'],
      dtype=object)

In [10]:
actual_values = y_test
score = accuracy_score(actual_values, predicted_values)

In [11]:
score

0.45454545454545453

In [12]:
model = DecisionTreeClassifier().fit(X, y)

In [13]:
joblib.dump(model, "foodie.joblib")

['foodie.joblib']

In [14]:
tree.export_graphviz(model,
                    out_file="foodie.dot",
                    feature_names=['Age', 'gender'],
                    class_names=sorted(y.unique()),
                    label='all',
                    rounded=True,
                    filled=True)