In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
#from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [2]:
df = sns.load_dataset("iris")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1:]

In [4]:
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [5]:
y.head()

  species
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

In [6]:
model = RandomForestClassifier(n_estimators=100)
model.fit(X,y)

C:\Users\M-Sajid\AppData\Local\Temp/ipykernel_7788/3062855842.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X,y)

RandomForestClassifier()

In [7]:
model.predict([[5,2,4,1]])

array(['versicolor'], dtype=object)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

predictions = model.predict(X_test)
predictions

array(['virginica', 'virginica', 'setosa', 'setosa', 'versicolor',
       'virginica', 'versicolor', 'versicolor', 'versicolor', 'setosa',
       'setosa', 'setosa', 'versicolor', 'virginica', 'virginica',
       'setosa', 'virginica', 'setosa', 'virginica', 'versicolor',
       'versicolor', 'setosa', 'virginica', 'virginica', 'virginica',
       'virginica', 'setosa', 'versicolor', 'versicolor', 'versicolor'],
      dtype=object)

In [9]:
score = model.score(X_test, y_test)
print("The accuracy score is:", score)

The accuracy score is: 1.0