In [1]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv("dataset/mldata.csv")
df.head()

   Age   Height  Weight  Gender Likeness
0   27  170.225    76.0    Male  Biryani
1   45  165.543    70.0    Male  Biryani
2   21  171.000    59.0    Male  Biryani
3   25  165.000    49.5    Male  Biryani
4   53  170.000   102.0  Female  Biryani

In [3]:
df["Gender"] = df["Gender"].replace("Male", 1)
df["Gender"] = df["Gender"].replace("Female", 0)

In [4]:
X = df[["Weight", "Gender"]]
y = df["Likeness"]

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [6]:
model = KNeighborsClassifier(n_neighbors=3)

In [7]:
model.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [8]:
predicted_values = model.predict(X_test)

In [9]:
predicted_values

array(['Biryani', 'Biryani', 'Biryani', 'Biryani', 'Karahi', 'Biryani',
       'Biryani', 'Karahi', 'Biryani', 'Biryani', 'Karahi'], dtype=object)

In [10]:
accuracy_score(y_test, predicted_values)

0.45454545454545453